* {
  font-family: sans-serif;
  font-size: xx-large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  text-align: center;
}

h1, h2, p {
  color: white;
}

main {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.product-list {
  align-items: center;
  background-color: rgba(11, 2, 95, 0.308);
  border: 5px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product {
  background-color: rgba(255, 0, 0, 0.226);
  border: 5px solid black;
  border-radius: 50px;
  box-shadow: 20px 20px 10px;
  margin: 10px;
}

.product img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
